@using Repositorios.Enums
@model ModeloTelaCadastroViewModel

<form method="post" asp-action="Cadastrar">

    <div class="field">
        <label asp-for="Form.Nome" class="label"></label>
        <div class="control">
            <input asp-for="Form.Nome" class="input" />
            <span class="has-text-danger" asp-validation-for="Form.Nome"></span>
        </div>
    </div>

    <div class="field">
        <label asp-for="Form.MarcaId" class="label"></label>
        <div class="control">
            <select asp-for="Form.MarcaId" asp-items="Model.Marcas" class="input"></select>
            <span class="has-text-danger" asp-validation-for="Form.MarcaId"></span>
        </div>
    </div>

    <div class="field">
        <label asp-for="Form.Classificacao" class="label"></label>
        <div class="control">
            <select asp-for="Form.Classificacao" asp-items="Model.Classificacoes" class="input"></select>
            <span class="has-text-danger" asp-validation-for="Form.Classificacao"></span>
        </div>
    </div>
    
    <button class="button is-primary is-pulled-right">
        <span class="icon is-small">
            <i class="fas fa-save"></i>
        </span>
        <span>Salvar</span>
    </button>
</form>